<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LikesyouExampleApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B02A2392D6B627D004895A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B02A2552D6B62A5004895A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B02A2672D6B62AE004895A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B02A2782D6B62B7004895A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
